## Githubuser Content

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_json('https://raw.githubusercontent.com/onaio/ona-tech/master/data/water_points.json')
df

,water_pay,respondent,research_asst_name,water_used_season,_bamboo_dataset_id,_deleted_at,water_point_condition,_xform_id_string,other_point_1km,_attachments,...,animal_point,water_mechanism_plate,water_lift_mechanism_type,road_type,water_mechanism_plate_units,water_mechanism_plate_no,water_not_functioning,water_source_type_other,simserial,subscriberid
0,no,community,Haruna Mohammed,year_round,,NaT,functioning,_08_Water_points_CV,no,[north_ghana/attachments/1351696546452.jpg],...,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,no,community,Haruna Mohmmed,year_round,,NaT,functioning,_08_Water_points_CV,yes,[north_ghana/attachments/1351701849971.jpg],...,yes,no,manual_power,gravel,NaN,NaN,NaN,NaN,NaN,NaN
2,no,community,Haruna Mohammed,year_round,,NaT,functioning,_08_Water_points_CV,yes,[north_ghana/attachments/1351702462336.jpg],...,yes,no,manual_power,paved,NaN,NaN,NaN,NaN,NaN,NaN
3,no,community,Haruna Mohammed,year_round,,NaT,functioning,_08_Water_points_CV,yes,[north_ghana/attachments/1351702971561.jpg],...,yes,no,manual_power,paved,NaN,NaN,NaN,NaN,NaN,NaN
4,no,community,Haruna Mohammed,year_round,,NaT,functioning,_08_Water_points_CV,yes,[north_ghana/attachments/1351703622326.jpg],...,yes,no,manual_power,paved,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
707,no,community,Emmanuel y,year_round,,NaT,functioning,_08_Water_points_CV,no,[north_ghana/attachments/1358151218133.jpg],...,yes,no,hand_pump,NaN,NaN,NaN,NaN,NaN,NaN,NaN
708,no,local_authority community,Emmanuel y,year_round,,NaT,broken,_08_Water_points_CV,yes,[north_ghana/attachments/1358081512606.jpg],...,yes,no,hand_pump,NaN,NaN,NaN,NaN,NaN,NaN,NaN
709,no,local_authority community,Emmanuel y,year_round,,NaT,broken,_08_Water_points_CV,yes,[north_ghana/attachments/1358081512606.jpg],...,yes,no,hand_pump,NaN,NaN,NaN,NaN,NaN,NaN,NaN
710,no,community,abu seidu,year_round,,NaT,functioning,_08_Water_points_CV,no,[north_ghana/attachments/1358175596571.jpg],...,yes,no,hand_pump,NaN,NaN,NaN,NaN,NaN,8.923301e+18,6.200101e+14
711,no,community,Sa,year_round,,NaT,functioning,_08_Water_points_CV,yes,[north_ghana/attachments/1355488003808.jpg],...,yes,no,manual_power,gravel dirt,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.head()

,water_pay,respondent,research_asst_name,water_used_season,_bamboo_dataset_id,_deleted_at,water_point_condition,_xform_id_string,other_point_1km,_attachments,...,animal_point,water_mechanism_plate,water_lift_mechanism_type,road_type,water_mechanism_plate_units,water_mechanism_plate_no,water_not_functioning,water_source_type_other,simserial,subscriberid
0,no,community,Haruna Mohammed,year_round,,NaT,functioning,_08_Water_points_CV,no,[north_ghana/attachments/1351696546452.jpg],...,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,no,community,Haruna Mohmmed,year_round,,NaT,functioning,_08_Water_points_CV,yes,[north_ghana/attachments/1351701849971.jpg],...,yes,no,manual_power,gravel,NaN,NaN,NaN,NaN,NaN,NaN
2,no,community,Haruna Mohammed,year_round,,NaT,functioning,_08_Water_points_CV,yes,[north_ghana/attachments/1351702462336.jpg],...,yes,no,manual_power,paved,NaN,NaN,NaN,NaN,NaN,NaN
3,no,community,Haruna Mohammed,year_round,,NaT,functioning,_08_Water_points_CV,yes,[north_ghana/attachments/1351702971561.jpg],...,yes,no,manual_power,paved,NaN,NaN,NaN,NaN,NaN,NaN
4,no,community,Haruna Mohammed,year_round,,NaT,functioning,_08_Water_points_CV,yes,[north_ghana/attachments/1351703622326.jpg],...,yes,no,manual_power,paved,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 712 entries, 0 to 711
Data columns (total 48 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   water_pay                    712 non-null    object
 1   respondent                   712 non-null    object
 2   research_asst_name           712 non-null    object
 3   water_used_season            712 non-null    object
 4   _bamboo_dataset_id           712 non-null    object
 5   _deleted_at                  0 non-null      datetime64[ns]
 6   water_point_condition        712 non-null    object
 7   _xform_id_string             712 non-null    object
 8   other_point_1km              712 non-null    object
 9   _attachments                 712 non-null    object
 10  communities_villages         712 non-null    object
 11  end                          712 non-null    object
 12  animal_number                528 non-null    object
 13  water_point_id               712 non-null    object
 14  start                        712 non-null    object
 15  water_connected              712 non-null    object
 16  water_manager_name           708 non-null    object
 17  _status                      712 non-null    object
 18  enum_id_1                    712 non-null    int64
 19  water_lift_mechanism         712 non-null    object
 20  districts_divisions          712 non-null    object
 21  _uuid                        712 non-null    object
 22  grid                         712 non-null    object
 23  date                         712 non-null    datetime64[ns]
 24  formhub/uuid                 712 non-null    object
 25  road_available               712 non-null    object
 26  water_functioning            712 non-null    object
 27  _submission_time             712 non-null    datetime64[ns]
 28  signal                       712 non-null    object
 29  water_source_type            712 non-null    object
 30  _geolocation                 712 non-null    object
 31  water_point_image            712 non-null    object
 32  water_point_geocode          709 non-null    object
 33  deviceid                     712 non-null    int64
 34  locations_wards              712 non-null    object
 35  water_manager                712 non-null    object
 36  water_developer              712 non-null    object
 37  _id                          712 non-null    int64
 38  animal_point                 712 non-null    object
 39  water_mechanism_plate        649 non-null    object
 40  water_lift_mechanism_type    649 non-null    object
 41  road_type                    334 non-null    object
 42  water_mechanism_plate_units  43 non-null     object
 43  water_mechanism_plate_no     43 non-null     float64
 44  water_not_functioning        87 non-null     object
 45  water_source_type_other      3 non-null      object
 46  simserial                    5 non-null      float64
 47  subscriberid                 5 non-null      float64
dtypes: datetime64[ns](3), float64(3), int64(3), object(39)
memory usage: 267.1+ KB

In [5]:
df.columns

Index(['water_pay', 'respondent', 'research_asst_name', 'water_used_season',
       '_bamboo_dataset_id', '_deleted_at', 'water_point_condition',
       '_xform_id_string', 'other_point_1km', '_attachments',
       'communities_villages', 'end', 'animal_number', 'water_point_id',
       'start', 'water_connected', 'water_manager_name', '_status',
       'enum_id_1', 'water_lift_mechanism', 'districts_divisions', '_uuid',
       'grid', 'date', 'formhub/uuid', 'road_available', 'water_functioning',
       '_submission_time', 'signal', 'water_source_type', '_geolocation',
       'water_point_image', 'water_point_geocode', 'deviceid',
       'locations_wards', 'water_manager', 'water_developer', '_id',
       'animal_point', 'water_mechanism_plate', 'water_lift_mechanism_type',
       'road_type', 'water_mechanism_plate_units', 'water_mechanism_plate_no',
       'water_not_functioning', 'water_source_type_other', 'simserial',
       'subscriberid'],
      dtype='object')

In [6]:
df.shape

(712, 48)

### Number of water points that are functional

In [7]:
df['water_functioning'].value_counts()

yes      623
no        87
na_dn      2
Name: water_functioning, dtype: int64

In [8]:
yes = df['water_functioning'].value_counts()[0]
no = df['water_functioning'].value_counts()[1]

print('{} yes ({}%) vs {} no ({}%) got water'.format(yes,round(yes*100/(yes+no),2),no,round(no*100/(yes+no)),2))

623 yes (87.75%) vs 87 no (12.0%) got water

### Number of water points per community

In [9]:
df['communities_villages'].value_counts().reset_index()

        index  communities_villages
0   Kpatarigu                    51
1       Jagsa                    38
2      Nayoku                    35
3       Guuta                    32
4    Nabulugu                    31
..        ...                   ...
60   Jiniensa                     1
61    Kalaasa                     1
62       Suik                     1
63  Gumaryili                     1
64     Garigu                     1

[65 rows x 2 columns]

### The rank for each community by the number of broken water points

In [10]:
df['water_point_condition'].value_counts()

functioning           590
broken                 40
abandoned              36
newly_constructed      28
under_construction     16
na_dn                   2
Name: water_point_condition, dtype: int64

In [11]:
community_rank = df[df['water_point_condition']=='broken']['communities_villages'].value_counts().reset_index()
community_rank.columns=['Village','Number Broken']

In [12]:
community_rank

        Village  Number Broken
0        Nayoku              6
1        Kubore              4
2     Loagri_1_              4
3        Bandem              2
4     Namgurima              2
5           Soo              2
6       Vundema              2
7       Zanwara              2
8      Gbaarigu              2
9         Arigu              2
10      Tantala              1
11        Guuta              1
12        Jagsa              1
13    Kpatarigu              1
14        Zogsa              1
15     Kanwaasa              1
16  Nyankpiensa              1
17        Kaasa              1
18        Luisa              1
19    Banyangsa              1
20      Zukpeni              1
21       Longsa              1

### Percentage of broken water points

In [13]:
percent = df[df['water_point_condition']=='broken']['communities_villages'].value_counts(normalize=True).mul(100).round(1).astype(str)+'%'
percent

Nayoku         15.0%
Kubore         10.0%
Loagri_1_      10.0%
Bandem          5.0%
Namgurima       5.0%
Soo             5.0%
Vundema         5.0%
Zanwara         5.0%
Gbaarigu        5.0%
Arigu           5.0%
Tantala         2.5%
Guuta           2.5%
Jagsa           2.5%
Kpatarigu       2.5%
Zogsa           2.5%
Kanwaasa        2.5%
Nyankpiensa     2.5%
Kaasa           2.5%
Luisa           2.5%
Banyangsa       2.5%
Zukpeni         2.5%
Longsa          2.5%
Name: communities_villages, dtype: object